<header>
  <h2>{{ title }}</h2>
</header>
<main>
  <div class="buttons-wrapper">
    <button class="gaussian-btn" (click)="applyEffect('gauss')">Apply gaussian blur</button>
    <button (click)="applyEffect('filter')">Apply Filter</button>
    <input
      type="file"
      accept=".jpeg,.jpg,.png,.heif,.heic"
      #fileInput
      (change)="onLoadImage($event)"
      value="Select File"
      hidden
    />
    <button class="attachment-btn" (click)="triggerInput()">Load image</button>
  </div>

  <canvas #imagePreview class="image-canvas"></canvas>
</main>
<footer><span>&copy;</span> 2024</footer>

<router-outlet />
