:host {
  display: block;
}
header {
  position: fixed;
  width: calc(100% - 4px);
  height: fit-content;
  top: 0;
  left: 0;
  border-radius: 10px;
  margin: 2px 2px 0 2px;
  background-color: #22ac54;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.buttons-wrapper {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}
button {
  border: 2px solid white;
  padding: 5px 10px;
  background-color: #22ac54;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
.gaussian-btn {
  background-color: orange;
}
.attachment-btn {
  background-color: #2224ac;
}

main {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}
.select-wrapper {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropzone {
  width: 200px;
  height: 50px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-canvas {
  margin: 10px 0;
  width: auto;
  height: auto;
}
.canvas-on {
  height: 60vh;
}
.hidden {
  display: none;
}

footer {
  position: fixed;
  width: calc(100% - 4px);
  height: 50px;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  margin: 0 2px 2px 2px;
  background-color: #2224ac;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
